[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/kanata -c %h/.config/kanata/kanata.kbd -n
Restart=always
RestartSec=5

[Install]
WantedBy=graphical-session.target
